


<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a href="/" class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            Menu
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">User <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/user">Show data</a></li>
                <li><a href="/user/create">Add data</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Ebouchure <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/ebouchure">Show data</a></li>
                <li><a href="/ebouchure/create">Add data</a></li>
              </ul>
            </li>
        </ul>
    </div>

</div>
</nav>
