<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Form</title>
    </head>
    <body>
        <h1>get user</h1>
        
        <p> firstname: <%=data[0].firstname%></p>
        <p> username: <%=data[0].username%></p>
        <p> email: <%=data[0].email%></p>
        <p> tel: <%=data[0].tel%></p>
        
        <!-- <script>
            var txt=""
            var info
            for(info in resp){
                
            }
            
        </script>
      -->
    </body>
</html>