
<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
      
      <div class="jumbotron">
        <h2>Update user</h2><br>
          firstname: <input type="text" name="fname" value""><br>
          lastname:  <input type="text" name="lname" value""><br>
          username:  <input type="text" name="username" value""><br>
          email   :    <input type="text" name="email" value""><br>
          tel     :      <input type="text" name="tel" value""><br>
          <input type="submit" value="send">
      </div>
  </main>


  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>